<Header id="header">
    <div id="logo-container">
        <p>Employee Review Portal</p>
    </div>
    <div id="SignUp">
        <a href="/employees/signup" type="GET"><button id="header-signin" type="submit">Sign In</button></a>
    </div>
</Header>
