<section>
    <form method="POST" action="/admin/set-reviewer">
        <input name="Recipient" value="For the Employee">
        <input name="Reviewer" value="Reviewer">
        <button type="submit">Done</button>
    </form>
</section>