<main>
    <div>
        <p>To Review</p>
        <% for(r of recipients){ %> 
            <div class="available-recipients">
                <form action="/reviews/newReview/<%=r.id%>" method="GET">
                    <p><%=r.name%></p>
                    <textarea name="newReview"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        <%}%>
    </div>
    <div>
        <p>My Reviews</p>
        <% for (r of reviews){%>
            <p><%=r.name%></p>
            <p><%=r.review%></p>
        <%}%>
    </div>
</main>