<form action="/employees/createsession" method="POST">
    <input name="username">
    <input name="password">
    <button type="submit">Sign In</button>
</form>
<button formaction="/employees/signUp" formmethod="GET">Sign Up</button>