<form action="/employees/newEmployee" method="POST">
    <input name="email">
    <input name="password">
    <input name="conpass" placeholder="confirm Password">
    <input name="name">
    <button type="submit">Create</button>
</form>